<h1>Order</h1>


<table>
	<tr>
		<td>ID</td>
		<td></td>
	</tr>
	<tr>
		<td>Status</td>
		<td></td>
	</tr>
	<tr>
		<td>Amount</td>
		<td>{{total}}</td>
	</tr>
	
	{{!-- {{#each names}} --}}
	{{!-- <tr>
		<td>
			{{firstName}}
		</td>
		<td>
			{{lastName}}
		</td>
	</tr>
	{{/each}} --}}

</table>